{% extends "base_html.html" %}

{% block content %}
    <h1 class="text-center pt-5 pb-3">Email link Debugger</h1>



    <!-- this is the form -->
    <div class="justify-content-center align-items-center container col-lg-6 offset-lg-3">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input name={{ ORIGINAL_URL }} type="text" class="form-control" placeholder="Insert URL from email here" id={{ ORIGINAL_URL }} >

                </div>
                <div class="input-group-append">
                    <button type="submit" class="input-group-text btn-primary" id="">Debug Link</button>
                </div>
            </div>

        </form>

    </div>
    <!--
'aasa': result.AASA,
                    'cname': result.cname,
                    'ssl': result.SSL,
                    'bundle': result.bundle,
                    'prefix': result.prefix,
                    'paths': result.paths,
                    'ORIGINAL_URL': constants.ORIGINAL_URL,
                    'ctd_url': result.get_url_text(),
                    'cname_correct': result.cnamed_correctly()
                            -->
{%  if ctd_url %}

    <div>CTD = {{ ctd_url }}</div><br>
    <div>SSL = {{ ssl }}</div><br>
    <div>CNAMED correctly = {{ cname_correct }} | the cname is {{ cname | default_if_none:"There is no CNAME" }}</div><br>
    <div>Bundle id = {{ bundle }}</div><br>
    <div>App Prefix = {{ prefix }}</div><br>
    <div> Will this CTD open the app (based on path) = {{ ctd_deeplink }}</div><br>
    <div> AASA = {{ aasa }}</div>



{% endif %}

{% endblock %}