{% extends "base_html.html" %}

{% block content %}
    <h1 class="text-center pt-5 pb-3">{{ user.company }}'s Email link Creator</h1>



    <!-- this is the form -->
    <div class="justify-content-center align-items-center container col-lg-6 offset-lg-3">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input name={{ ORIGINAL_URL }} type="text" class="form-control" placeholder="Insert URL here" id={{ ORIGINAL_URL }} >

                </div>
                <div class="input-group-append">
                    <button type="submit" class="input-group-text btn-primary" id="">Create Link</button>
                </div>
            </div>

            <div id="kvpairs" class="form-group">
                <!-- Key value pairs. the name of the items are based of what the key is -->
            <h5>Query Parameters</h5>

                {% for k,v in link_dict_items %}
                    <div class="form-inline mb-3">
                        <input class="form-control" name="key_{{ k }}" type="text" value="{{ k }}">:<input
                            class="form-control" name="value_{{ k }}" type="text" value="{{ v }}">
                        <button type="button" onclick="removePair(this)" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>


                {% endfor %}
                <button id="adKVButton" type="button" class="btn btn-secondary mt-1" onclick="addPair()">Add Key
                </button>

            </div>


        </form>


    </div>
    {% if urls %}

        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>URL:</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for url in urls %}
                            <tr>
                                <td class="word-wrap">{{ url }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}


<script>

    function removePair(context) {
        //remove elements parent. for use with buttons
        context.parentElement.remove()
    }

    function addPair() {
        // get container of kv list
        container = document.getElementById("kvpairs");
        var input = document.createElement("input");
        // random name for kv pair as hex string
        var name = (Math.random() * 0xFFFFFF << 0).toString(16);

        // create button
        var button = document.getElementById("adKVButton");

        // set variables for create elements
        input.type = "text";
        input.className = "key form-control";
        input.name = "key_" + name; //names the input field for the key based on hex string
        var input2 = document.createElement("input");
        input2.type = "text";
        input2.className = "value form-control";
        input2.name = "value_" + name;

        // each K-V pair has a remove button
        var removeButton = document.createElement("button");
        removeButton.type = "button";
        removeButton.setAttribute('onClick', 'removePair(this)');
        removeButton.className = "close";
        removeButton.setAttribute("aria-label", "Close");
        //lazy way to do it
        removeButton.innerHTML = '<span aria-hidden=\"true\">&times;</span>';
        // wrap components in a form-inline dive to make the elements inline
        var div = document.createElement("div");

        div.className = "form-inline mb-1";


        div.appendChild(input);
        div.appendChild(document.createTextNode(":"));
        div.appendChild(input2);
        div.appendChild(removeButton);

        container.insertBefore(div, button)

    }

    // bootstrap 4.1 requires jquery to have a custom file name in input field
    $('.custom-file-input').on('change', function () {
        let fileName = $(this).val().split('\\').pop();
        $(this).next('.custom-file-label').addClass("selected").html(fileName);
    });

</script>

<style>
    button.close {
        padding-left: 5px;
    }

    .word-wrap {
        word-break: break-all;
    / / word-wrap: break-word;
    / / overflow-wrap: break-word;
    }

    .no-wrap {
        white-space: nowrap;
    }

    .fixed {
        table-layout: fixed;
    }
</style>

{% endblock %}