{% extends "base_html.html" %}

{% block content %}
    <h1 class="text-center pt-5 pb-3">Email link Debugger</h1>



    <!-- this is the form -->
    <div class="justify-content-center align-items-center container col-lg-6 offset-lg-3">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input name={{ ORIGINAL_URL }} type="text" class="form-control" placeholder="Insert URL from email here" id={{ ORIGINAL_URL }} >

                </div>
                <div class="input-group-append">
                    <button type="submit" class="input-group-text btn-primary" id="">Debug Link</button>
                </div>
            </div>

        </form>

    </div>

{%  if ctd_url %}
    <div class="justify-content-center align-items-center container col-lg-6 offset-lg-3">
<br>
    <hr>
    <br>
    <div class="alert alert-success" role="alert">
    your click tracking domain is <strong>{{ ctd_url }}</strong>
</div>

    <br>
<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          {% if ssl %}✅ SSL is set up Correctly{% else %}❌ No SSL certificate found{% endif %}
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
          {% if ssl %}SSL is set correctly{% else %}no SSL detected on this domain{% endif %}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          {% if cname_correct %}✅ Your Click Tracking Domain is Correctly CNAME'd to Branch {{ cname }} {% else %}❌ Your Click tracking domain is <strong>not</strong> cnamed to branch (The cname is: {{ cname | default_if_none:"no CNAME exists" }}) {% endif %}
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
          For most integrations you will need to CNAME to Branch's server (thirdparty.bnc.lt). One notable exception is
          the <a href="https://docs.branch.io/emails/salesforce-v1/">Sales Force v1</a> Integration.<br><br>

          If you are not using Sales Force v1 please contact your Email provider or domain provider and ask for steps to CNAME your domain.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        {% if aasa %}✅ AASA File found!{% else %}❌ No AASA file found{% endif %}
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
          {% if aasa %}<p>Your AASA file should be all set! If you need to double check here is the relevant info</p>
        <table class="table">

          <tbody>
            <tr>
              <th scope="row">Bundle ID</th>
              <td>{{bundle}}</td>
            </tr>
            <tr>
              <th scope="row">Apple App Prefix</th>
              <td>{{prefix}}</td>
            </tr>
              <tr>
              <th scope="row">AASA File</th>
                  <td><code>{{ aasa }}</code></td>
            </tr>
          </tbody>
        </table>

          {% else %}

              <p>
              {%  if ssl %} No AASA File found! For most integrations Branch will host it <strong>starting 1 hour after</strong> you integrate your click tracking domain
                  on the branch dashboard! {% else %} No AASA File Found. It looks like SSL is not set up which could be the reason it is not found {% endif %}
              </p>
              <p> If you are using <a href="https://docs.branch.io/emails/oracle-responsys/#send-your-aasa-file-to-your-esp">Responsys</a> please Contact Oracle to have them host your AASA file</p>

        {% endif %}

      </div>
    </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        {% if ctd_deeplink %}✅ This link will open the app{% else %}❌ This link is a Web only link{% endif %}
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">

      <div class="card-body">
          {% if ctd_deeplink %}This Link is set up to open the app! If you are using <code>$web_only=true</code> your links will open the app then go to the
          web experience{% else %}Based on the AASA file this link is set to open the web.
          If this link is intended to open the app please check that you are flagging your links correctly in your email template.
          {% endif %}

      </div>
  </div>
</div>

  </div>
{% elif error %}
    <div class="justify-content-center align-items-center container col-lg-6 offset-lg-3">
<br>
    <hr>
    <br>
<div class="alert alert-danger" role="alert">
  Error: {{ error }}
</div>
</div>



{% endif %}




{% endblock %}