{% extends "base_html.html" %}

{% block content %}
    <h1 class="text-center pt-5 pb-3">{{ user.company }}'s Ad link Creator</h1>

    <!-- this is the form -->
    <div class="d-flex justify-content-center align-items-center container ">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input name="uploaded_file" type="file" class="custom-file-input" id="inputGroupFile02">
                    <label class="custom-file-label" for="inputGroupFile02">Choose file</label>

                </div>
                <div class="input-group-append">
                    <button type="submit" class="input-group-text btn-primary" id="">Build Links</button>
                </div>
            </div>
            <div class="form-group">
                <!-- select with values from ad_templates -->
                <select name="template_name" class="custom-select">
                    <option selected="selected" disabled>Select Template</option>
                    <option value="">None</option>


                    {% for key in ad_templates %}
                        <option value={{ key }}>{{ key|lower }}</option>
                    {% endfor %}

                </select>
            </div>

            <div id="kvpairs" class="form-group">
                <!-- Key value pairs. the name of the items are based of what the key is -->

                {% for k,v in link_dict_items %}
                    <div class="form-inline mb-1">
                        <input class="form-control" name="key_{{ k }}" type="text" value="{{ k }}">:<input
                            class="form-control" name="value_{{ k }}" type="text" value="{{ v }}">
                        <button type="button" onclick="removePair(this)" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>


                {% endfor %}
                <button id="adKVButton" type="button" class="btn btn-secondary mt-1" onclick="addPair()">Add Key
                </button>

            </div>


        </form>


    </div>
    {% if uploaded_file_url %}
        <table class="table">
            <tbody>

            {% for url in urls %}
                <tr>
                    <th scope="row">URL:</th>
                    <td>{{ url }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endif %}


    <script>

        function removePair(context) {
            //remove elements parent. for use with buttons
            context.parentElement.remove()
        }

        function addPair() {
            // get container of kv list
            container = document.getElementById("kvpairs");
            var input = document.createElement("input");
            // random name for kv pair as hex string
            var name = (Math.random() * 0xFFFFFF << 0).toString(16);

            // create button
            var button = document.getElementById("adKVButton");

            // set variables for create elements
            input.type = "text";
            input.className = "key form-control";
            input.name = "key_" + name; //names the input field for the key based on hex string
            var input2 = document.createElement("input");
            input2.type = "text";
            input2.className = "value form-control";
            input2.name = "value_" + name;

            // each K-V pair has a remove button
            var removeButton = document.createElement("button");
            removeButton.type = "button";
            removeButton.setAttribute('onClick', 'removePair(this)');
            removeButton.className = "close";
            removeButton.setAttribute("aria-label", "Close");
            //lazy way to do it
            removeButton.innerHTML = '<span aria-hidden=\"true\">&times;</span>';
            // wrap components in a form-inline dive to make the elements inline
            var div = document.createElement("div");

            div.className = "form-inline mb-1";


            div.appendChild(input);
            div.appendChild(document.createTextNode(":"));
            div.appendChild(input2);
            div.appendChild(removeButton);

            container.insertBefore(div, button)

        }

        // bootstrap 4.1 requires jquery to have a custom file name in input field
        $('.custom-file-input').on('change', function () {
            let fileName = $(this).val().split('\\').pop();
            $(this).next('.custom-file-label').addClass("selected").html(fileName);
        });

    </script>

{% endblock %}